header {
  position: relative;
  width: 100%;
  height: auto;
}

header img {
  width: 100%;
  height: auto;
  display: inline;
  z-index: -1;
}

header section {
  position: absolute;
  top: 0px;
  left: 0px;
}

header h1 {
  margin-left: 30px;
}

h1 {
  font-size: 4vw;
}

h2 {
  font-size: 1.5vw;
}

h3 {
  font-size: 1.2vw;
}

nav {
  position: absolute;
  top: 0px;
  right: 5px;
  display: flex;
  flex-direction: column;

}

main {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

#profile {
  /* border: 5px solid red; */
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 50px;
}

#profileImg {
  width: 200px;
}

#profileImg img {
  border-radius: 15%;
  margin-bottom: 20px;
}

#profileImg div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

#profileImg div img {
  height: 30px;
  width: 30px;
}

#profileBio {
  margin-left:20px;

}

#profileBio h1 {
  margin-bottom: 20px;
}

#profile p {
  font-size: 1.2vw;
}

#projects {
  width: 100%;
  margin-bottom: 20px;
}

#projects h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

#projectSection {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;

}

.project {
  width: 25%;
}

.project img {
  width: 100%;
  height: auto;
  display: inline;
  z-index: -1;
  border: 1px solid black;
}

footer {
  background-color: lightgray;
  text-align: center;
}